*{
    padding:1;
    margin: 0;
    box-sizing: border-box;
    }
    header {
        background-color:darkslategrey
    }
    nav{
        display: flex;
        justify-content: space-around;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 20px;
        align-items: center;
    }
    .logo{
        font-size: 25px;
        font-weight:900
    }
    .nav-itens {
    list-style:none;
    display: flex;
    }
    .nav-itens>li>a{
        text-decoration: none;
        color: black;
    padding-left: 20px
    }
    .login {
padding: 10px 40px;
font-size: 15px;
background-color: rgb(255, 255, 255);
border: none;
border-radius: 5px;
color: black;
cursor:pointer;
    }
.login:hover {
    background-color: rgb(114, 113, 113); 
}
    .Cadastro {
        padding: 10px 40px;
font-size: 15px;
background-color: rgb(255, 255, 255);
border: none;
border-radius: 5px;
color: black;
cursor:pointer;
    }
    .cadastro:hover {
        background-color:rgb(114, 113, 113); ;
    }
    
    body {
    background-image: url("https://static.vecteezy.com/ti/fotos-gratis/p2/6263904-fundo-abstrato-branco-pano-de-fundo-para-design-de-apresentacao-para-site-gratis-foto.jpg"); 
}
p{
    font-size: 40px;
    }
    .carrosel {
        width: 36rem;
        height: 23rem;
        position: relative;
        display:flex;
        overflow: auto;
        scroll-snap-type: x mandatory;
    }
    .carrosel img {
        width: 100%;
        height: 100%;
        position:sticky;
        left: 0;
flex-shrink: 0;
object-fit: cover;
scroll-behavior: smooth;
    }
.texto {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: table;
    float: left;
    width: 900px;
    margin-left:10px;
}
.imagens {
    display:flex;
    justify-content: center;
}
footer{
    background-color: rgb(59, 59, 59);
}
.footercontainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.icons{
    display:flex;
    justify-content: center;
}
.icons a{
text-decoration: none;
padding: 10px;
background-color: white;
margin: 10px;
border-radius: 50%;
}
.icons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover Effect on social media icons */
.icons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.icons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
}
.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerbutton{
    background-color: black;
    padding: 20px;
    text-align: center; 
}
.footerbutton p{
    color:white;
    font-size: 20px;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
.Sobrenós3{
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center
}
.Serviços {
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center
}
.Formulário {
    text-align: center;
}